*{
    margin:0;
    padding:0;
    font-family: 'Prompt', sans-serif;
}
body{
    background:#0B0B0B;
}
div.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    padding: 70px;
}
header{
    display: flex;
    justify-content: space-between;
    grid-column:2/12;
}
nav a{
    margin:10px 10px;
    color:#fff;
    text-decoration: none;
    font-weight: 200;
}

button#boton{
    background: none;
    border: 1px solid #fff;
    border-radius: 7px;
    color:#fff;
    padding:7px;
    font-weight: 200;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.55);
}
section.saludo{
    grid-column:2/12;
    grid-row: 2/ 4;
    color:#fff;
    text-align: center;
}
h1{
    font-weight: 500;
}
section.saludo p{
    font-weight: 200;
}
section.saludo div{
    position: relative;
    top: -140px;
}
section.saludo i{
    color:#fff;
    font-size:2rem;
    margin:40px 0 0 0;
}
section.saludo #figura{
    width: 100%;
}