*{
    margin:0;
    padding:0;
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
p{
    color:#fff;
}
h1{
    font-weight: 500;
}
h3{
    color:#fff;
    font-weight:600;
    font-size:30px;
    text-shadow: 0 0 4px #fff;
}
body{
    background:#0B0B0B;
}
div.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 70px;
}
header.header-primario{
    display: flex;
    justify-content: space-between;
    grid-column:2/12;
}
header.header-secundario{
    display: none;
}
nav a{
    margin:0 20px 0 0;
    color:#fff;
    text-decoration: none;
    font-weight: 200;
}

a#boton{
    background: none;
    border: 1px solid #fff;
    border-radius: 7px;
    color:#fff;
    padding:7px;
    font-weight: 200;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.55);
    transition: all .1s;
}
a#boton:hover{
    box-shadow: 0 0 10px #fff;
}
div.saludo{
    color:#fff;
    text-align: center;
    grid-column:2/12;
    padding:250px 0 0 0;
}
div.saludo div p{
    font-weight: 200;
}
div.saludo i{
    color:#fff;
    font-size:2rem;
    margin:40px 0 0 0;
}
div.figura {
    grid-column:2/12;
}
div.figura img{
    width:100%;
    height: 90%;
    position: relative;
    top:-100px;
    z-index: -999;
}
article.sobre-mi{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column:2/12;
    color :#fff;
    padding:30px 0 350px 0;
    height: 600px;
}
hr{
    border:2px solid #fff;
    border-radius:10px;
    height: 37px;
    margin:0px 10px 0 0;
    box-shadow: 0 0 4px #fff;
}
article.sobre-mi section.texto{
    display:flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/3;
}
section.titulo{
    display: flex;
    justify-content: flex-start;
}

section.figura-sobre-mi{
    position: relative;
}
section.figura-sobre-mi img:nth-child(1){
    margin: 90px 0 0 0;
}
section.figura-sobre-mi img:nth-child(2){
    position: absolute;
    top:265px;
    left: 15px;
    z-index: -999;
}
article.sobre-mi section.texto p{
    font-weight:300;
    font-size:18px;
    text-align:justify;
}
section.tecnologias{
    margin: 90px 0 0 0;
}
div.imagenes-tecnologias{
    padding:50px 0 0 0;
}
div.imagenes-tecnologias img{
    width: 60px;
    margin: 0 30px 0 0;
}
div.imagenes-tecnologias img:nth-child(5){
    width: 35px;
}
section.tecnologias a{
    color:#fff;
    margin: 40px 0;
    border:1px solid #fff;
    padding: 9px;
    border-radius: 7px;
    position: relative;
    top:80px;
    transition: all .2s;
}
section.tecnologias a:hover{
    color: #000;
    box-shadow: 0 0 5px #fff;
    background: #fff;

}
section.tecnologias a i{
    margin: 0 0 0 10px;
}
article.proyectos{
    grid-column:2/12;
}
div.container-proyecto{
    background:#101010;
    margin: 200px 0 190px 0;
    border-radius:10px;
    box-sizing: border-box;
}
div.proyecto{
    display: grid;
    grid-template-columns: 30% 70%;
    padding:40px;
    text-align: center;
    position: relative;
    top:-100px;
}

div.header-proyecto img{
    width: 100%;
    border-radius: 10px;
}
div.body-proyecto p{
    font-weight:200;
    text-align: justify;
    padding: 80px 0 0 30px;
}
footer{
    grid-column:2/12;
}
div.container-footer{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px 0;
}
div.iconos-footer{
    display: flex;
    flex-direction: column;
}
div.iconos-footer img{
    width: 70px;
    margin:0 0 20px 0;
}
div.iconos-footer section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
div.iconos-footer section p{
    position: relative;
    top:-10px;
    left:10px;
    font-weight:200;
    font-size:17px;
}
div.imgenes-footer{
    position: relative;
}
div.imgenes-footer img{
    width: 250px;
    position: absolute;
    top: 50px;
    right:200px;
    z-index: -999;
}
div.imgenes-footer img:nth-child(2){
    top:-30px;
    z-index: -999;
}
@media (max-width: 840px) {
    header.header-primario{
        display: none;
    }
    header.header-secundario{
        display: flex;
        grid-column:2/12;
        justify-content: end;
        
    }
    header.header-secundario i{
        font-size: 1.9em;
        color: #fff;
    }
    div.saludo{
        padding:150px 0 0 0;
    }
    div.saludo i{
        font-size:2rem;
        margin:20px 0 0 0;
    }
    div.figura img{
        top:-10px;
        z-index: -999;
    }
    article.sobre-mi{
        grid-template-columns: 100%;
    }
    article.sobre-mi section.texto{
        grid-column: 1/1;
        grid-row: 2/3;
        padding: 50px 0 0 0;
    }
    section.figura-sobre-mi{
        display: block;
        padding: 80px;
    }
    section.figura-sobre-mi img:nth-child(1){
        position:relative;
        top:0px;
        left:0px;
        z-index: 999;
        width:225px;
    }
    section.figura-sobre-mi img:nth-child(2){
        position:relative;
        top:-90px;
        left:15px;
        width:196px;
    }
    div.imagenes-tecnologias img{
        width: 35px;
    }
    div.imagenes-tecnologias img:nth-child(5){
        width: 20px;
    }
}
