@font-face{
    font-family: 'Poppins-regular';
    src: url(../Fuentes/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-light';
    src: url(../Fuentes/Poppins/Poppins-Light.ttf);
}
*{
    margin:0;    
    padding:0;
    font-family: 'Poppins-regular', Sans-Serif;
    scroll-behavior: smooth;
    color:#fff;
}
body{
    background:#0B0B0B;
}
a{
    text-decoration: none;
}
p{
    color:#fff;
}
ul{
    list-style: none;
}
ul li{
    margin:0 10px;
}
div.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 40px;
}
header#header-primario{
    display: flex;
    justify-content: space-between;
    grid-column:2/12;
}
div.container-header-secundario{
    display: none;
}
header#header-primario ul{
    display: inline-flex;
    list-style:none;
}
a#boton{
    padding:7px;
    border-radius:10px;
    color:#fff;
    background: none;
    border:2px solid #fff;
    box-shadow:0 0 2px #fff;
    font-size:13px;
    text-shadow: 0 0 5px #fff;
}
div.nombre{
    grid-column:2/12;
}
section.nombre div.texto i{
    font-size:25px;
    margin:20px 0 0 0;
}
div.nombre section.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    height: 250px;
}
div.nombre section.nombre p{
    font-family: "Poppins-light";
}
div.nombre section.figura img{
    width:100%;
    position: relative;
    top:-100px;
    z-index: -999;
}
div.sobre-mi{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column:2/12;
    padding: 40px 0 150px 0;
}
div.titulo{
    display: flex;
    column-gap: 10px;
}
hr{
    border:2px solid #fff;
    height: 30px;
    border-radius:10px;
    box-shadow: 0 0 5px #fff;
}
div.titulo h2{
    text-shadow: 0 0 5px #fff;
}
div.container-imagen-sobre-mi{
    display: flex;
    justify-content: start;
    align-items: center;
}
div.imagen-sobre-mi{
    display: flex;
    flex-direction:column;
    align-items: center;
}
div.imagen-sobre-mi img:nth-child(2){
    position:relative;
    top: -100px;
    z-index: -999;
}
div.texto-sobre-mi{
    text-align:justify;
}
div.tecnologias-sobre-mi{
    padding: 30px 0;
}
div.iconos-tecnologias{
    display: flex;
    flex-direction:row;
    column-gap:20px;
    margin: 30px 0;
}
div.iconos-tecnologias img{
    width: 50px;
}
footer{
    grid-column:2/12;
}
div.contacto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
div.contacto div:nth-child(1){
    grid-column:1/3;
}
div.redes{
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
}
div.redes section.redes-contacto{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 0 0 0;
    
}
section.redes-contacto img{
    width:50px;
    margin: 0 10px 0 0;
}
div.container-imagen-contacto div.imagen-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.imagen-contacto img{
    width: 190px;
}
div.imagen-contacto img:nth-child(2){
    position: relative;
    top:-81px;
    z-index: -999;
}
@media (max-width: 860px){
    div.container{
        padding:30px;
    }
    header#header-primario{
        display: none;
    }
    div.container-header-secundario{
        grid-column:1/13;
        display: flex;
        align-items:end;
        flex-direction:column;
    }
    div.container-header-secundario div.icono-header-secundario i{
        font-size:30px;
    }
    main.main-secundario{
        display: none;
        padding:20px 20px 0 0;
        z-index: 999;
    }
    div.container-header-secundario main ul{
        display: flex;
        align-items: end;
        flex-direction: column;
    }
    div.container-header-secundario main ul li section{
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:10px 0 20px 0;
        width: 130px;
    }
    div.container-header-secundario main ul li section a:hover{
        border-radius:7px;
        width: 100px;
        text-align: right;
    }
    div.container-header-secundario main ul li section a:hover{
        text-decoration: underline;
        width:400px;
        transition: all .3s;

    }

    div.nombre{
        grid-column: 1/13;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:40px;
        height: 600px;
    }
    section.figura{
        display: none;
    }
    div.sobre-mi{
        grid-template-columns: repeat(1,1fr);
        padding: 30px 0 0 0;
    }
    div.sobre-mi p{
        font-size:15px;
    }
    div.container-imagen-sobre-mi{
        justify-content: center;
    }
    div.texto-sobre-mi{
        padding:40px 0 0 0;
    }
    div.imagen-sobre-mi img{
        width: 200px;
    }
    div.imagen-sobre-mi img:nth-child(1){
        position: relative;
        top:40px;
        right:0px;
        z-index: 999;
        width: 200px;
    }
    div.imagen-sobre-mi img:nth-child(2){
        position: relative;
        top:-40px;
        right:0px;
        width: 180px;
    }
    div.contacto{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 30px 0 0 0;
    }
    div.contacto div:nth-child(1){
        grid-column:1/1;
    }
    div.imagen-contacto{
        margin: 70px 0 0 0;
    }
}